
.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.options{
    width: calc(100% - 30px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
.screen{
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    margin-inline: auto;
    background: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
}

.boid{
    width: 2px;
    height: 20px;
    background: red;
    border-top: 5px solid blue;
    position: absolute;
    /* transform-origin: bottom; */
    
}


.boid.hidden{
    display: none;
}
